body{
    width: 100%;
    background-image: url("download.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    position: relative;
}
.slider-container{
  justify-content: center;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
   position: absolute;
   background-color: rgba(15, 46, 185, 0.5);
   width: 100%;
   height: 100%;
    
}
.swiper-wrapper{
    width: 0%;
  flex-wrap: wrap;
}
.footer{
    
    padding: 5px;
    position: fixed;
    bottom: 0;
}
.loginuser{

    height: 10rem;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 5px;
    height: 20rem;
    width: 10rem;
    margin-top: 20px;
}
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   
    
}
img{
    height: 25px;
    
}

  
  
  


  


 